In [1]:
import requests
import pandas as pd
import json
from splinter import Browser
from bs4 import BeautifulSoup as bs
from unicodedata import normalize

In [2]:
# URL for 1st Source
first_url = "https://www.ncei.noaa.gov/access/billions/events-US-1980-2024.json"

In [163]:
res = requests.get(first_url).json()

In [176]:
res_data = res['data']

In [178]:
df_1 = pd.DataFrame(res_data)
df_1

,name,disaster,begDate,endDate,adjCost,unadjCost,deaths
0,Southern Severe Storms and Flooding (April 1980),Flooding,19800410,19800417,2728.1,706.8,7
1,Hurricane Allen (August 1980),Tropical Cyclone,19800807,19800811,2212.6,590.0,13
2,Central/Eastern Drought/Heat Wave (Summer-Fall...,Drought,19800601,19801130,40180.2,10020.0,1260
3,Florida Freeze (January 1981),Freeze,19810112,19810114,2053.5,572.0,0
4,"Severe Storms, Flash Floods, Hail, Tornadoes (...",Severe Storm,19810505,19810510,1397.0,401.4,20
...,...,...,...,...,...,...,...
378,Central and Southern Winter Storm and Cold Wav...,Winter Storm,20240114,20240118,1345.3,1332.0,41
379,Southern Severe Weather (February 2024),Severe Storm,20240210,20240212,1150.5,1139.0,0
380,Central and Southern Severe Weather (March 2024),Severe Storm,20240313,20240315,4354.1,4311.0,3
381,Central Tornado Outbreak and Eastern Severe We...,Severe Storm,20240401,20240403,1823.0,1823.0,3
382,Southern and Eastern Severe Weather (April 2024),Severe Storm,20240408,20240411,1510.0,1510.0,0

In [4]:
# Webscraping 2nd Source
# Set up the browser
browser = Browser('chrome')

In [5]:
# Webscraping 2nd Source
second_url = "https://public.opendatasoft.com/explore/dataset/openaq/table/?disjunctive.city&disjunctive.location&disjunctive.measurements_parameter&sort=measurements_lastupdated&refine.country_name_en=United+States"
browser.visit(second_url)

In [6]:
html = browser.html
soup = bs(html, 'html.parser')

In [7]:
header_list = []
records_headers = soup.find_all('div',class_='odswidget-table__label')
for row in records_headers:
    header_list.append(row.text)
header_list

['Country Label', 'Pollutant', 'Value', 'Unit', 'Last Updated', 'Source Name']

In [153]:
row_list = []
n = 0
table = soup.find('tr')

for row in table:
    throwaway = soup.find('tr', class_= f'odswidget-table__internal-table-row record-{n}').find('td', class_="odswidget-table__cell").find('div', class_="odswidget-table__cell-container")
    values = [throwaway.findNext('div').text,
    throwaway.findNext('div').findNext('div').text,
    throwaway.findNext('div').findNext('div').findNext('div').text,
    throwaway.findNext('div').findNext('div').findNext('div').findNext('div').text,
    throwaway.findNext('div').findNext('div').findNext('div').findNext('div').findNext('div').text,
    throwaway.findNext('div').findNext('div').findNext('div').findNext('div').findNext('div').findNext('div').text]

    row_list.append(values)
    n += 1

In [155]:
df_2 = pd.DataFrame(row_list, columns=header_list)
df_2

    Country Label Pollutant  Value   Unit          Last Updated Source Name
0   United States        O3  0.037    ppm  May 30, 2023 6:00 PM      AirNow
1   United States      PM10     44  µg/m³  May 30, 2023 6:00 PM      AirNow
2   United States       NO2  0.001    ppm  May 30, 2023 6:00 PM      AirNow
3   United States      PM10     20  µg/m³  May 30, 2023 6:00 PM      AirNow
4   United States     PM2.5      4  µg/m³  May 30, 2023 6:00 PM      AirNow
5   United States      PM10     16  µg/m³  May 30, 2023 6:00 PM      AirNow
6   United States       SO2  0.000    ppm  May 30, 2023 6:00 PM      AirNow
7   United States     PM2.5      4  µg/m³  May 30, 2023 6:00 PM      AirNow
8   United States        O3  0.051    ppm  May 30, 2023 6:00 PM      AirNow
9   United States        O3  0.041    ppm  May 30, 2023 6:00 PM      AirNow
10  United States        O3  0.041    ppm  May 30, 2023 6:00 PM      AirNow
11  United States     PM2.5      4  µg/m³  May 30, 2023 6:00 PM      AirNow
12  United States        O3   0.04    ppm  May 30, 2023 6:00 PM      AirNow
13  United States        O3  0.053    ppm  May 30, 2023 6:00 PM      AirNow
14  United States        NO  0.000    ppm  May 30, 2023 6:00 PM      AirNow
15  United States     PM2.5    6.9  µg/m³  May 30, 2023 6:00 PM      AirNow
16  United States     PM2.5      6  µg/m³  May 30, 2023 6:00 PM      AirNow