In [4]:
# Import Dependencies
import requests
import pandas as pd
import json
from splinter import Browser
from bs4 import BeautifulSoup as bs
import numpy as np
import time
import pymongo
from pymongo import MongoClient 
import datetime
import math

# Cleaning Data Source 1  & Adding to MongoDB #

In [2]:
# Read Source 1 CSV
million_dollar_disasters_df = pd.read_csv('DataFrames/million_dollar_disasters_df.csv')

In [3]:
# Display DataFrame sample
million_dollar_disasters_df.head(1)

,name,disaster,begDate,endDate,adjCost,unadjCost,deaths
0,Southern Severe Storms and Flooding (April 1980),Flooding,19800410,19800417,2728.1,706.8,7

In [4]:
# Display Data Types
million_dollar_disasters_df.dtypes

name          object
disaster      object
begDate        int64
endDate        int64
adjCost      float64
unadjCost    float64
deaths         int64
dtype: object

In [5]:
# Convert begDate and endDate to dates
million_dollar_disasters_df['begDate']=  pd.to_datetime((million_dollar_disasters_df['begDate']), yearfirst=True,format="%Y%m%d")
million_dollar_disasters_df['endDate']=  pd.to_datetime((million_dollar_disasters_df['endDate']), yearfirst=True,format="%Y%m%d")

In [6]:
# Split name into two chunks
million_dollar_disasters_df[['name', 'date']] = million_dollar_disasters_df['name'].str.split('(', n=1, expand=True)

In [7]:
# Remove closing parenthesis on date
million_dollar_disasters_df['date'] = million_dollar_disasters_df['date'].str.replace(")","")

In [8]:
# Truncate adjCost and unadjCost
million_dollar_disasters_df['adjCost'] = [math.trunc(x) for x in million_dollar_disasters_df['adjCost']]
million_dollar_disasters_df['unadjCost'] = [math.trunc(x) for x in million_dollar_disasters_df['unadjCost']]

In [9]:
# Trim extra spaces from name and disaster
million_dollar_disasters_df['name'] = million_dollar_disasters_df['name'].str.strip()
million_dollar_disasters_df['disaster'] = million_dollar_disasters_df['disaster'].str.strip()

In [10]:
# Rename Columns
million_dollar_disasters_df = million_dollar_disasters_df.rename(columns={'name': 'disaster_name','disaster':'disaster_type','begDate':'start_date',
'endDate': 'end_date','adjCost': 'adjusted_cost','unadjCost': 'unadjusted_cost','date':'date category'})

In [11]:
# Review cleaned DataFrame
million_dollar_disasters_df

,disaster_name,disaster_type,start_date,end_date,adjusted_cost,unadjusted_cost,deaths,date category
0,Southern Severe Storms and Flooding,Flooding,1980-04-10,1980-04-17,2728,706,7,April 1980
1,Hurricane Allen,Tropical Cyclone,1980-08-07,1980-08-11,2212,590,13,August 1980
2,Central/Eastern Drought/Heat Wave,Drought,1980-06-01,1980-11-30,40180,10020,1260,Summer-Fall 1980
3,Florida Freeze,Freeze,1981-01-12,1981-01-14,2053,572,0,January 1981
4,"Severe Storms, Flash Floods, Hail, Tornadoes",Severe Storm,1981-05-05,1981-05-10,1397,401,20,May 1981
...,...,...,...,...,...,...,...,...
378,Central and Southern Winter Storm and Cold Wave,Winter Storm,2024-01-14,2024-01-18,1345,1332,41,January 2024
379,Southern Severe Weather,Severe Storm,2024-02-10,2024-02-12,1150,1139,0,February 2024
380,Central and Southern Severe Weather,Severe Storm,2024-03-13,2024-03-15,4354,4311,3,March 2024
381,Central Tornado Outbreak and Eastern Severe We...,Severe Storm,2024-04-01,2024-04-03,1823,1823,3,April 2024
382,Southern and Eastern Severe Weather,Severe Storm,2024-04-08,2024-04-11,1510,1510,0,April 2024

In [12]:
# Create MongoDB database & collection
client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client["million_dollar_disasters"]
collection = db["disasters"]

In [13]:
# Insert data into MongoDB
data_dict = million_dollar_disasters_df.to_dict(orient='records')
collection.insert_many(data_dict)

InsertManyResult([ObjectId('666609fa5105a0a68d1b2ecf'), ObjectId('666609fa5105a0a68d1b2ed0'), ObjectId('666609fa5105a0a68d1b2ed1'), ObjectId('666609fa5105a0a68d1b2ed2'), ObjectId('666609fa5105a0a68d1b2ed3'), ObjectId('666609fa5105a0a68d1b2ed4'), ObjectId('666609fa5105a0a68d1b2ed5'), ObjectId('666609fa5105a0a68d1b2ed6'), ObjectId('666609fa5105a0a68d1b2ed7'), ObjectId('666609fa5105a0a68d1b2ed8'), ObjectId('666609fa5105a0a68d1b2ed9'), ObjectId('666609fa5105a0a68d1b2eda'), ObjectId('666609fa5105a0a68d1b2edb'), ObjectId('666609fa5105a0a68d1b2edc'), ObjectId('666609fa5105a0a68d1b2edd'), ObjectId('666609fa5105a0a68d1b2ede'), ObjectId('666609fa5105a0a68d1b2edf'), ObjectId('666609fa5105a0a68d1b2ee0'), ObjectId('666609fa5105a0a68d1b2ee1'), ObjectId('666609fa5105a0a68d1b2ee2'), ObjectId('666609fa5105a0a68d1b2ee3'), ObjectId('666609fa5105a0a68d1b2ee4'), ObjectId('666609fa5105a0a68d1b2ee5'), ObjectId('666609fa5105a0a68d1b2ee6'), ObjectId('666609fa5105a0a68d1b2ee7'), ObjectId('666609fa5105a0a68d1b2ee8'), ObjectId('666609fa5105a0a68d1b2ee9'), ObjectId('666609fa5105a0a68d1b2eea'), ObjectId('666609fa5105a0a68d1b2eeb'), ObjectId('666609fa5105a0a68d1b2eec'), ObjectId('666609fa5105a0a68d1b2eed'), ObjectId('666609fa5105a0a68d1b2eee'), ObjectId('666609fa5105a0a68d1b2eef'), ObjectId('666609fa5105a0a68d1b2ef0'), ObjectId('666609fa5105a0a68d1b2ef1'), ObjectId('666609fa5105a0a68d1b2ef2'), ObjectId('666609fa5105a0a68d1b2ef3'), ObjectId('666609fa5105a0a68d1b2ef4'), ObjectId('666609fa5105a0a68d1b2ef5'), ObjectId('666609fa5105a0a68d1b2ef6'), ObjectId('666609fa5105a0a68d1b2ef7'), ObjectId('666609fa5105a0a68d1b2ef8'), ObjectId('666609fa5105a0a68d1b2ef9'), ObjectId('666609fa5105a0a68d1b2efa'), ObjectId('666609fa5105a0a68d1b2efb'), ObjectId('666609fa5105a0a68d1b2efc'), ObjectId('666609fa5105a0a68d1b2efd'), ObjectId('666609fa5105a0a68d1b2efe'), ObjectId('666609fa5105a0a68d1b2eff'), ObjectId('666609fa5105a0a68d1b2f00'), ObjectId('666609fa5105a0a68d1b2f01'), ObjectId('666609fa5105a0a68d1b2f02'), ObjectId('666609fa5105a0a68d1b2f03'), ObjectId('666609fa5105a0a68d1b2f04'), ObjectId('666609fa5105a0a68d1b2f05'), ObjectId('666609fa5105a0a68d1b2f06'), ObjectId('666609fa5105a0a68d1b2f07'), ObjectId('666609fa5105a0a68d1b2f08'), ObjectId('666609fa5105a0a68d1b2f09'), ObjectId('666609fa5105a0a68d1b2f0a'), ObjectId('666609fa5105a0a68d1b2f0b'), ObjectId('666609fa5105a0a68d1b2f0c'), ObjectId('666609fa5105a0a68d1b2f0d'), ObjectId('666609fa5105a0a68d1b2f0e'), ObjectId('666609fa5105a0a68d1b2f0f'), ObjectId('666609fa5105a0a68d1b2f10'), ObjectId('666609fa5105a0a68d1b2f11'), ObjectId('666609fa5105a0a68d1b2f12'), ObjectId('666609fa5105a0a68d1b2f13'), ObjectId('666609fa5105a0a68d1b2f14'), ObjectId('666609fa5105a0a68d1b2f15'), ObjectId('666609fa5105a0a68d1b2f16'), ObjectId('666609fa5105a0a68d1b2f17'), ObjectId('666609fa5105a0a68d1b2f18'), ObjectId('666609fa5105a0a68d1b2f19'), ObjectId('666609fa5105a0a68d1b2f1a'), ObjectId('666609fa5105a0a68d1b2f1b'), ObjectId('666609fa5105a0a68d1b2f1c'), ObjectId('666609fa5105a0a68d1b2f1d'), ObjectId('666609fa5105a0a68d1b2f1e'), ObjectId('666609fa5105a0a68d1b2f1f'), ObjectId('666609fa5105a0a68d1b2f20'), ObjectId('666609fa5105a0a68d1b2f21'), ObjectId('666609fa5105a0a68d1b2f22'), ObjectId('666609fa5105a0a68d1b2f23'), ObjectId('666609fa5105a0a68d1b2f24'), ObjectId('666609fa5105a0a68d1b2f25'), ObjectId('666609fa5105a0a68d1b2f26'), ObjectId('666609fa5105a0a68d1b2f27'), ObjectId('666609fa5105a0a68d1b2f28'), ObjectId('666609fa5105a0a68d1b2f29'), ObjectId('666609fa5105a0a68d1b2f2a'), ObjectId('666609fa5105a0a68d1b2f2b'), ObjectId('666609fa5105a0a68d1b2f2c'), ObjectId('666609fa5105a0a68d1b2f2d'), ObjectId('666609fa5105a0a68d1b2f2e'), ObjectId('666609fa5105a0a68d1b2f2f'), ObjectId('666609fa5105a0a68d1b2f30'), ObjectId('666609fa5105a0a68d1b2f31'), ObjectId('666609fa5105a0a68d1b2f32'), ObjectId('666609fa5105a0a68d1b2f33'), ObjectId('666609fa5105a0a68d1b2f34'), ObjectId('666609fa5105a0a68d1b2f35'), ObjectId('666609fa5105a0a68d1b2f36'), ObjectId('666609fa5105a0a68d1b2f37'), ObjectId('666609fa5105a0a68d1b2f38'), ObjectId('666609fa5105a0a68d1b2f39'), ObjectId('666609fa5105a0a68d1b2f3a'), ObjectId('666609fa5105a0a68d1b2f3b'), ObjectId('666609fa5105a0a68d1b2f3c'), ObjectId('666609fa5105a0a68d1b2f3d'), ObjectId('666609fa5105a0a68d1b2f3e'), ObjectId('666609fa5105a0a68d1b2f3f'), ObjectId('666609fa5105a0a68d1b2f40'), ObjectId('666609fa5105a0a68d1b2f41'), ObjectId('666609fa5105a0a68d1b2f42'), ObjectId('666609fa5105a0a68d1b2f43'), ObjectId('666609fa5105a0a68d1b2f44'), ObjectId('666609fa5105a0a68d1b2f45'), ObjectId('666609fa5105a0a68d1b2f46'), ObjectId('666609fa5105a0a68d1b2f47'), ObjectId('666609fa5105a0a68d1b2f48'), ObjectId('666609fa5105a0a68d1b2f49'), ObjectId('666609fa5105a0a68d1b2f4a'), ObjectId('666609fa5105a0a68d1b2f4b'), ObjectId('666609fa5105a0a68d1b2f4c'), ObjectId('666609fa5105a0a68d1b2f4d'), ObjectId('666609fa5105a0a68d1b2f4e'), ObjectId('666609fa5105a0a68d1b2f4f'), ObjectId('666609fa5105a0a68d1b2f50'), ObjectId('666609fa5105a0a68d1b2f51'), ObjectId('666609fa5105a0a68d1b2f52'), ObjectId('666609fa5105a0a68d1b2f53'), ObjectId('666609fa5105a0a68d1b2f54'), ObjectId('666609fa5105a0a68d1b2f55'), ObjectId('666609fa5105a0a68d1b2f56'), ObjectId('666609fa5105a0a68d1b2f57'), ObjectId('666609fa5105a0a68d1b2f58'), ObjectId('666609fa5105a0a68d1b2f59'), ObjectId('666609fa5105a0a68d1b2f5a'), ObjectId('666609fa5105a0a68d1b2f5b'), ObjectId('666609fa5105a0a68d1b2f5c'), ObjectId('666609fa5105a0a68d1b2f5d'), ObjectId('666609fa5105a0a68d1b2f5e'), ObjectId('666609fa5105a0a68d1b2f5f'), ObjectId('666609fa5105a0a68d1b2f60'), ObjectId('666609fa5105a0a68d1b2f61'), ObjectId('666609fa5105a0a68d1b2f62'), ObjectId('666609fa5105a0a68d1b2f63'), ObjectId('666609fa5105a0a68d1b2f64'), ObjectId('666609fa5105a0a68d1b2f65'), ObjectId('666609fa5105a0a68d1b2f66'), ObjectId('666609fa5105a0a68d1b2f67'), ObjectId('666609fa5105a0a68d1b2f68'), ObjectId('666609fa5105a0a68d1b2f69'), ObjectId('666609fa5105a0a68d1b2f6a'), ObjectId('666609fa5105a0a68d1b2f6b'), ObjectId('666609fa5105a0a68d1b2f6c'), ObjectId('666609fa5105a0a68d1b2f6d'), ObjectId('666609fa5105a0a68d1b2f6e'), ObjectId('666609fa5105a0a68d1b2f6f'), ObjectId('666609fa5105a0a68d1b2f70'), ObjectId('666609fa5105a0a68d1b2f71'), ObjectId('666609fa5105a0a68d1b2f72'), ObjectId('666609fa5105a0a68d1b2f73'), ObjectId('666609fa5105a0a68d1b2f74'), ObjectId('666609fa5105a0a68d1b2f75'), ObjectId('666609fa5105a0a68d1b2f76'), ObjectId('666609fa5105a0a68d1b2f77'), ObjectId('666609fa5105a0a68d1b2f78'), ObjectId('666609fa5105a0a68d1b2f79'), ObjectId('666609fa5105a0a68d1b2f7a'), ObjectId('666609fa5105a0a68d1b2f7b'), ObjectId('666609fa5105a0a68d1b2f7c'), ObjectId('666609fa5105a0a68d1b2f7d'), ObjectId('666609fa5105a0a68d1b2f7e'), ObjectId('666609fa5105a0a68d1b2f7f'), ObjectId('666609fa5105a0a68d1b2f80'), ObjectId('666609fa5105a0a68d1b2f81'), ObjectId('666609fa5105a0a68d1b2f82'), ObjectId('666609fa5105a0a68d1b2f83'), ObjectId('666609fa5105a0a68d1b2f84'), ObjectId('666609fa5105a0a68d1b2f85'), ObjectId('666609fa5105a0a68d1b2f86'), ObjectId('666609fa5105a0a68d1b2f87'), ObjectId('666609fa5105a0a68d1b2f88'), ObjectId('666609fa5105a0a68d1b2f89'), ObjectId('666609fa5105a0a68d1b2f8a'), ObjectId('666609fa5105a0a68d1b2f8b'), ObjectId('666609fa5105a0a68d1b2f8c'), ObjectId('666609fa5105a0a68d1b2f8d'), ObjectId('666609fa5105a0a68d1b2f8e'), ObjectId('666609fa5105a0a68d1b2f8f'), ObjectId('666609fa5105a0a68d1b2f90'), ObjectId('666609fa5105a0a68d1b2f91'), ObjectId('666609fa5105a0a68d1b2f92'), ObjectId('666609fa5105a0a68d1b2f93'), ObjectId('666609fa5105a0a68d1b2f94'), ObjectId('666609fa5105a0a68d1b2f95'), ObjectId('666609fa5105a0a68d1b2f96'), ObjectId('666609fa5105a0a68d1b2f97'), ObjectId('666609fa5105a0a68d1b2f98'), ObjectId('666609fa5105a0a68d1b2f99'), ObjectId('666609fa5105a0a68d1b2f9a'), ObjectId('666609fa5105a0a68d1b2f9b'), ObjectId('666609fa5105a0a68d1b2f9c'), ObjectId('666609fa5105a0a68d1b2f9d'), ObjectId('666609fa5105a0a68d1b2f9e'), ObjectId('666609fa5105a0a68d1b2f9f'), ObjectId('666609fa5105a0a68d1b2fa0'), ObjectId('666609fa5105a0a68d1b2fa1'), ObjectId('666609fa5105a0a68d1b2fa2'), ObjectId('666609fa5105a0a68d1b2fa3'), ObjectId('666609fa5105a0a68d1b2fa4'), ObjectId('666609fa5105a0a68d1b2fa5'), ObjectId('666609fa5105a0a68d1b2fa6'), ObjectId('666609fa5105a0a68d1b2fa7'), ObjectId('666609fa5105a0a68d1b2fa8'), ObjectId('666609fa5105a0a68d1b2fa9'), ObjectId('666609fa5105a0a68d1b2faa'), ObjectId('666609fa5105a0a68d1b2fab'), ObjectId('666609fa5105a0a68d1b2fac'), ObjectId('666609fa5105a0a68d1b2fad'), ObjectId('666609fa5105a0a68d1b2fae'), ObjectId('666609fa5105a0a68d1b2faf'), ObjectId('666609fa5105a0a68d1b2fb0'), ObjectId('666609fa5105a0a68d1b2fb1'), ObjectId('666609fa5105a0a68d1b2fb2'), ObjectId('666609fa5105a0a68d1b2fb3'), ObjectId('666609fa5105a0a68d1b2fb4'), ObjectId('666609fa5105a0a68d1b2fb5'), ObjectId('666609fa5105a0a68d1b2fb6'), ObjectId('666609fa5105a0a68d1b2fb7'), ObjectId('666609fa5105a0a68d1b2fb8'), ObjectId('666609fa5105a0a68d1b2fb9'), ObjectId('666609fa5105a0a68d1b2fba'), ObjectId('666609fa5105a0a68d1b2fbb'), ObjectId('666609fa5105a0a68d1b2fbc'), ObjectId('666609fa5105a0a68d1b2fbd'), ObjectId('666609fa5105a0a68d1b2fbe'), ObjectId('666609fa5105a0a68d1b2fbf'), ObjectId('666609fa5105a0a68d1b2fc0'), ObjectId('666609fa5105a0a68d1b2fc1'), ObjectId('666609fa5105a0a68d1b2fc2'), ObjectId('666609fa5105a0a68d1b2fc3'), ObjectId('666609fa5105a0a68d1b2fc4'), ObjectId('666609fa5105a0a68d1b2fc5'), ObjectId('666609fa5105a0a68d1b2fc6'), ObjectId('666609fa5105a0a68d1b2fc7'), ObjectId('666609fa5105a0a68d1b2fc8'), ObjectId('666609fa5105a0a68d1b2fc9'), ObjectId('666609fa5105a0a68d1b2fca'), ObjectId('666609fa5105a0a68d1b2fcb'), ObjectId('666609fa5105a0a68d1b2fcc'), ObjectId('666609fa5105a0a68d1b2fcd'), ObjectId('666609fa5105a0a68d1b2fce'), ObjectId('666609fa5105a0a68d1b2fcf'), ObjectId('666609fa5105a0a68d1b2fd0'), ObjectId('666609fa5105a0a68d1b2fd1'), ObjectId('666609fa5105a0a68d1b2fd2'), ObjectId('666609fa5105a0a68d1b2fd3'), ObjectId('666609fa5105a0a68d1b2fd4'), ObjectId('666609fa5105a0a68d1b2fd5'), ObjectId('666609fa5105a0a68d1b2fd6'), ObjectId('666609fa5105a0a68d1b2fd7'), ObjectId('666609fa5105a0a68d1b2fd8'), ObjectId('666609fa5105a0a68d1b2fd9'), ObjectId('666609fa5105a0a68d1b2fda'), ObjectId('666609fa5105a0a68d1b2fdb'), ObjectId('666609fa5105a0a68d1b2fdc'), ObjectId('666609fa5105a0a68d1b2fdd'), ObjectId('666609fa5105a0a68d1b2fde'), ObjectId('666609fa5105a0a68d1b2fdf'), ObjectId('666609fa5105a0a68d1b2fe0'), ObjectId('666609fa5105a0a68d1b2fe1'), ObjectId('666609fa5105a0a68d1b2fe2'), ObjectId('666609fa5105a0a68d1b2fe3'), ObjectId('666609fa5105a0a68d1b2fe4'), ObjectId('666609fa5105a0a68d1b2fe5'), ObjectId('666609fa5105a0a68d1b2fe6'), ObjectId('666609fa5105a0a68d1b2fe7'), ObjectId('666609fa5105a0a68d1b2fe8'), ObjectId('666609fa5105a0a68d1b2fe9'), ObjectId('666609fa5105a0a68d1b2fea'), ObjectId('666609fa5105a0a68d1b2feb'), ObjectId('666609fa5105a0a68d1b2fec'), ObjectId('666609fa5105a0a68d1b2fed'), ObjectId('666609fa5105a0a68d1b2fee'), ObjectId('666609fa5105a0a68d1b2fef'), ObjectId('666609fa5105a0a68d1b2ff0'), ObjectId('666609fa5105a0a68d1b2ff1'), ObjectId('666609fa5105a0a68d1b2ff2'), ObjectId('666609fa5105a0a68d1b2ff3'), ObjectId('666609fa5105a0a68d1b2ff4'), ObjectId('666609fa5105a0a68d1b2ff5'), ObjectId('666609fa5105a0a68d1b2ff6'), ObjectId('666609fa5105a0a68d1b2ff7'), ObjectId('666609fa5105a0a68d1b2ff8'), ObjectId('666609fa5105a0a68d1b2ff9'), ObjectId('666609fa5105a0a68d1b2ffa'), ObjectId('666609fa5105a0a68d1b2ffb'), ObjectId('666609fa5105a0a68d1b2ffc'), ObjectId('666609fa5105a0a68d1b2ffd'), ObjectId('666609fa5105a0a68d1b2ffe'), ObjectId('666609fa5105a0a68d1b2fff'), ObjectId('666609fa5105a0a68d1b3000'), ObjectId('666609fa5105a0a68d1b3001'), ObjectId('666609fa5105a0a68d1b3002'), ObjectId('666609fa5105a0a68d1b3003'), ObjectId('666609fa5105a0a68d1b3004'), ObjectId('666609fa5105a0a68d1b3005'), ObjectId('666609fa5105a0a68d1b3006'), ObjectId('666609fa5105a0a68d1b3007'), ObjectId('666609fa5105a0a68d1b3008'), ObjectId('666609fa5105a0a68d1b3009'), ObjectId('666609fa5105a0a68d1b300a'), ObjectId('666609fa5105a0a68d1b300b'), ObjectId('666609fa5105a0a68d1b300c'), ObjectId('666609fa5105a0a68d1b300d'), ObjectId('666609fa5105a0a68d1b300e'), ObjectId('666609fa5105a0a68d1b300f'), ObjectId('666609fa5105a0a68d1b3010'), ObjectId('666609fa5105a0a68d1b3011'), ObjectId('666609fa5105a0a68d1b3012'), ObjectId('666609fa5105a0a68d1b3013'), ObjectId('666609fa5105a0a68d1b3014'), ObjectId('666609fa5105a0a68d1b3015'), ObjectId('666609fa5105a0a68d1b3016'), ObjectId('666609fa5105a0a68d1b3017'), ObjectId('666609fa5105a0a68d1b3018'), ObjectId('666609fa5105a0a68d1b3019'), ObjectId('666609fa5105a0a68d1b301a'), ObjectId('666609fa5105a0a68d1b301b'), ObjectId('666609fa5105a0a68d1b301c'), ObjectId('666609fa5105a0a68d1b301d'), ObjectId('666609fa5105a0a68d1b301e'), ObjectId('666609fa5105a0a68d1b301f'), ObjectId('666609fa5105a0a68d1b3020'), ObjectId('666609fa5105a0a68d1b3021'), ObjectId('666609fa5105a0a68d1b3022'), ObjectId('666609fa5105a0a68d1b3023'), ObjectId('666609fa5105a0a68d1b3024'), ObjectId('666609fa5105a0a68d1b3025'), ObjectId('666609fa5105a0a68d1b3026'), ObjectId('666609fa5105a0a68d1b3027'), ObjectId('666609fa5105a0a68d1b3028'), ObjectId('666609fa5105a0a68d1b3029'), ObjectId('666609fa5105a0a68d1b302a'), ObjectId('666609fa5105a0a68d1b302b'), ObjectId('666609fa5105a0a68d1b302c'), ObjectId('666609fa5105a0a68d1b302d'), ObjectId('666609fa5105a0a68d1b302e'), ObjectId('666609fa5105a0a68d1b302f'), ObjectId('666609fa5105a0a68d1b3030'), ObjectId('666609fa5105a0a68d1b3031'), ObjectId('666609fa5105a0a68d1b3032'), ObjectId('666609fa5105a0a68d1b3033'), ObjectId('666609fa5105a0a68d1b3034'), ObjectId('666609fa5105a0a68d1b3035'), ObjectId('666609fa5105a0a68d1b3036'), ObjectId('666609fa5105a0a68d1b3037'), ObjectId('666609fa5105a0a68d1b3038'), ObjectId('666609fa5105a0a68d1b3039'), ObjectId('666609fa5105a0a68d1b303a'), ObjectId('666609fa5105a0a68d1b303b'), ObjectId('666609fa5105a0a68d1b303c'), ObjectId('666609fa5105a0a68d1b303d'), ObjectId('666609fa5105a0a68d1b303e'), ObjectId('666609fa5105a0a68d1b303f'), ObjectId('666609fa5105a0a68d1b3040'), ObjectId('666609fa5105a0a68d1b3041'), ObjectId('666609fa5105a0a68d1b3042'), ObjectId('666609fa5105a0a68d1b3043'), ObjectId('666609fa5105a0a68d1b3044'), ObjectId('666609fa5105a0a68d1b3045'), ObjectId('666609fa5105a0a68d1b3046'), ObjectId('666609fa5105a0a68d1b3047'), ObjectId('666609fa5105a0a68d1b3048'), ObjectId('666609fa5105a0a68d1b3049'), ObjectId('666609fa5105a0a68d1b304a'), ObjectId('666609fa5105a0a68d1b304b'), ObjectId('666609fa5105a0a68d1b304c'), ObjectId('666609fa5105a0a68d1b304d')], acknowledged=True)

# Remember...Source 2 was skipped. #

# Cleaning Data Source 3  & Adding to MongoDB #

In [16]:
# Read Source 1 CSV
air_pollution_df = pd.read_csv('Dataframes/air_pollution_df.csv')

In [17]:
# Display DataFrame sample
air_pollution_df.head(1)

,measurements_unit,measurements_value,measurements_sourcename,measurements_lastupdated,measurements_parameter,country_name_en
0,ppm,0.037,AirNow,2023-05-30T18:00:00-05:00,O3,United States

In [18]:
# Check data types
air_pollution_df.dtypes

measurements_unit            object
measurements_value          float64
measurements_sourcename      object
measurements_lastupdated     object
measurements_parameter       object
country_name_en              object
dtype: object

In [19]:
# Change measurements_lastupdated to a datetime
air_pollution_df['measurements_lastupdated'] = pd.to_datetime(air_pollution_df['measurements_lastupdated'],yearfirst=True,format="ISO8601")

In [20]:
# Change Column names
air_pollution_df = air_pollution_df.rename(columns={'measurements_value':'measurement_in_ppm','measurements_sourcename': 'source',
'measurements_lastupdated':'last_update','measurements_parameter':'parameter','country_name_en': 'country'})

In [21]:
# Delete measurements_units since we changed the column name to reflect the units
del air_pollution_df['measurements_unit']

In [22]:
# Rearrange the DataFrame columns
air_pollution_df = air_pollution_df[['source','country','parameter','measurement_in_ppm','last_update']]

In [23]:
# Review changes
air_pollution_df.head(1)

,source,country,parameter,measurement_in_ppm,last_update
0,AirNow,United States,O3,0.037,2023-05-30 18:00:00-05:00

In [24]:
# Review data types
air_pollution_df.dtypes

source                                   object
country                                  object
parameter                                object
measurement_in_ppm                      float64
last_update           datetime64[ns, UTC-05:00]
dtype: object

In [25]:
# Create MongoDB database & collection
db = client["air_pollution"]
collection = db["pollution"]

In [26]:
# Insert data into MongoDB
data_dict_1 = air_pollution_df.to_dict(orient='records')
collection.insert_many(data_dict_1)

InsertManyResult([ObjectId('66660a1e5105a0a68d1b304e'), ObjectId('66660a1e5105a0a68d1b304f'), ObjectId('66660a1e5105a0a68d1b3050'), ObjectId('66660a1e5105a0a68d1b3051'), ObjectId('66660a1e5105a0a68d1b3052'), ObjectId('66660a1e5105a0a68d1b3053'), ObjectId('66660a1e5105a0a68d1b3054'), ObjectId('66660a1e5105a0a68d1b3055'), ObjectId('66660a1e5105a0a68d1b3056'), ObjectId('66660a1e5105a0a68d1b3057'), ObjectId('66660a1e5105a0a68d1b3058'), ObjectId('66660a1e5105a0a68d1b3059'), ObjectId('66660a1e5105a0a68d1b305a'), ObjectId('66660a1e5105a0a68d1b305b'), ObjectId('66660a1e5105a0a68d1b305c'), ObjectId('66660a1e5105a0a68d1b305d'), ObjectId('66660a1e5105a0a68d1b305e'), ObjectId('66660a1e5105a0a68d1b305f'), ObjectId('66660a1e5105a0a68d1b3060'), ObjectId('66660a1e5105a0a68d1b3061'), ObjectId('66660a1e5105a0a68d1b3062'), ObjectId('66660a1e5105a0a68d1b3063'), ObjectId('66660a1e5105a0a68d1b3064'), ObjectId('66660a1e5105a0a68d1b3065'), ObjectId('66660a1e5105a0a68d1b3066'), ObjectId('66660a1e5105a0a68d1b3067'), ObjectId('66660a1e5105a0a68d1b3068'), ObjectId('66660a1e5105a0a68d1b3069'), ObjectId('66660a1e5105a0a68d1b306a'), ObjectId('66660a1e5105a0a68d1b306b'), ObjectId('66660a1e5105a0a68d1b306c'), ObjectId('66660a1e5105a0a68d1b306d'), ObjectId('66660a1e5105a0a68d1b306e'), ObjectId('66660a1e5105a0a68d1b306f'), ObjectId('66660a1e5105a0a68d1b3070'), ObjectId('66660a1f5105a0a68d1b3071'), ObjectId('66660a1f5105a0a68d1b3072'), ObjectId('66660a1f5105a0a68d1b3073'), ObjectId('66660a1f5105a0a68d1b3074'), ObjectId('66660a1f5105a0a68d1b3075'), ObjectId('66660a1f5105a0a68d1b3076'), ObjectId('66660a1f5105a0a68d1b3077'), ObjectId('66660a1f5105a0a68d1b3078'), ObjectId('66660a1f5105a0a68d1b3079'), ObjectId('66660a1f5105a0a68d1b307a'), ObjectId('66660a1f5105a0a68d1b307b'), ObjectId('66660a1f5105a0a68d1b307c'), ObjectId('66660a1f5105a0a68d1b307d'), ObjectId('66660a1f5105a0a68d1b307e'), ObjectId('66660a1f5105a0a68d1b307f'), ObjectId('66660a1f5105a0a68d1b3080'), ObjectId('66660a1f5105a0a68d1b3081'), ObjectId('66660a1f5105a0a68d1b3082'), ObjectId('66660a1f5105a0a68d1b3083'), ObjectId('66660a1f5105a0a68d1b3084'), ObjectId('66660a1f5105a0a68d1b3085'), ObjectId('66660a1f5105a0a68d1b3086'), ObjectId('66660a1f5105a0a68d1b3087'), ObjectId('66660a1f5105a0a68d1b3088'), ObjectId('66660a1f5105a0a68d1b3089'), ObjectId('66660a1f5105a0a68d1b308a'), ObjectId('66660a1f5105a0a68d1b308b'), ObjectId('66660a1f5105a0a68d1b308c'), ObjectId('66660a1f5105a0a68d1b308d'), ObjectId('66660a1f5105a0a68d1b308e'), ObjectId('66660a1f5105a0a68d1b308f'), ObjectId('66660a1f5105a0a68d1b3090'), ObjectId('66660a1f5105a0a68d1b3091'), ObjectId('66660a1f5105a0a68d1b3092'), ObjectId('66660a1f5105a0a68d1b3093'), ObjectId('66660a1f5105a0a68d1b3094'), ObjectId('66660a1f5105a0a68d1b3095'), ObjectId('66660a1f5105a0a68d1b3096'), ObjectId('66660a1f5105a0a68d1b3097'), ObjectId('66660a1f5105a0a68d1b3098'), ObjectId('66660a1f5105a0a68d1b3099'), ObjectId('66660a1f5105a0a68d1b309a'), ObjectId('66660a1f5105a0a68d1b309b'), ObjectId('66660a1f5105a0a68d1b309c'), ObjectId('66660a1f5105a0a68d1b309d'), ObjectId('66660a1f5105a0a68d1b309e'), ObjectId('66660a1f5105a0a68d1b309f'), ObjectId('66660a1f5105a0a68d1b30a0'), ObjectId('66660a1f5105a0a68d1b30a1'), ObjectId('66660a1f5105a0a68d1b30a2'), ObjectId('66660a1f5105a0a68d1b30a3'), ObjectId('66660a1f5105a0a68d1b30a4'), ObjectId('66660a1f5105a0a68d1b30a5'), ObjectId('66660a1f5105a0a68d1b30a6'), ObjectId('66660a1f5105a0a68d1b30a7'), ObjectId('66660a1f5105a0a68d1b30a8'), ObjectId('66660a1f5105a0a68d1b30a9'), ObjectId('66660a1f5105a0a68d1b30aa'), ObjectId('66660a1f5105a0a68d1b30ab'), ObjectId('66660a1f5105a0a68d1b30ac'), ObjectId('66660a1f5105a0a68d1b30ad'), ObjectId('66660a1f5105a0a68d1b30ae'), ObjectId('66660a1f5105a0a68d1b30af'), ObjectId('66660a1f5105a0a68d1b30b0'), ObjectId('66660a1f5105a0a68d1b30b1')], acknowledged=True)

In [27]:
# Create clean csv to import data into SQL
air_pollution_df.to_csv('DataFrames/ready_for_sql_air_pollution_df.csv', index=False)